.main{
    background-color: gray;
    height: 900px;
    
}

.button1{
    size: 50px;
    background-color: yellowgreen;
}

.button2{
    size: 50px;
    background-color: pink;
}

.button3{
    size: 50px;
    background-color: rgb(192, 225, 255);
}

.button4{
    size: 50px;
    background-color: rgb(192, 255, 234);
}