
<div class="main">
  <div class="nav">
    <h1 class="title-section" >{{title}}</h1>
  </div>
 
  <p class="city-section">{{city3}}</p>
 
  <p>{{name}}</p>

<p>{{no1 + no2}}</p>    <!-- can we pass arithmatic expression in string interpolation:yes -->
<p>{{500 ++ 40}}</p>
<p>{{500+20 + 'pooja' + 40 + 20}}</p>
<!-- <p>{{typeof(no1)}}</p> In interpolation type of operator will through error -->

<p>{{learningInterpolation()}}</p>
<!-- we can function into the ingterpollation -->

 <!-- <p>{{no2 = 600}}</p>assigning value to the property from interpolation is not possible-->

<!-- <p>{{}}</p> Parser Error: Blank expressions are not allowed in interpolated strings -->

<p>{{no2 === 20}}</p>  <!-- it will return true or false-->

name : <input type="text" [value]= "data1">
carName :<input type="text" [value]= "car">
student age :<input type="text" [value]= "student.age">
<p>Gender</p>

male : <input type="radio" [value]="genderM" name ="gender"  (change)="gen($event)"> 
female : <input type="radio" [value]="genderF" name ="gender" (change)="gen($event)">
<br><br>
Hobbies:
Painting : <input type="checkbox" [value]="painting" (change)="hobbie($event)">
Dancing : <input type="checkbox" [value]="dancing" (change)="hobbie($event)">
Singing : <input type="checkbox"  [value]="singing" (change)="hobbie($event)">

</div>

