<!-- 
<div class="main">
  <div class="nav">
    <h1 class="title-section" >{{title}}</h1>
  </div>
 
  <p class="city-section">{{city3}}</p>
 
  <p>{{name}}</p>

<p>{{no1 + no2}}</p>    
can we pass arithmatic expression in string interpolation:yes
<p>{{500 ++ 40}}</p>
<p>{{500+20 + 'pooja' + 40 + 20}}</p>
<!-- <p>{{typeof(no1)}}</p> In interpolation type of operator will through error -->
<!-- 
<p>{{learningInterpolation()}}</p> -->
<!-- we can function into the ingterpollation -->

 <!-- <p>{{no2 = 600}}</p>assigning value to the property from interpolation is not possible-->

<!-- <p>{{}}</p> Parser Error: Blank expressions are not allowed in interpolated strings -->

<!-- <p>{{no2 === 20}}</p>  it will return true or false
property binding []
name : <input type="text" [value]= "data1">
carName :<input type="text" [value]= "car">
student age :<input type="text" [value]= "student.age"> -->

<!-- <p>Gender</p>

male : <input type="radio" [value]="genderM" name ="gender"  (change)="gen($event)"> 
female : <input type="radio" [value]="genderF" name ="gender" (change)="gen($event)">
<br><br>
Hobbies:
Painting : <input type="checkbox" [value]="painting" (change)="hobbie($event)">
Dancing : <input type="checkbox" [value]="dancing" (change)="hobbie($event)">
Singing : <input type="checkbox"  [value]="singing" (change)="hobbie($event)"> -->

<!-- event binding : it is used to handle the event raised from the dom like button click,mouse move etc.when dom event happen  -->
<!-- <br>

<button (click)='submit' >
  submit
</button><br><br> -->

<!-- two way data binding : The two-way binding has a feature to update data from component to view and vice-versa.change is reflected in both components. Whenever you make changes in the Model, it will be reflected in the View and when you make changes in View, it will be reflected in Model.
In two way data binding, property binding and event binding are combined together. -->
<!-- 
student Name<input type="text" [(ngModel)]="studentName"> 
<p>{{studentName}}</p>


<br>
no1<input type="number" [(ngModel)]="addNumber1" >
no2<input type="number" [(ngModel)]="addNumber2" > 
<button (click)="additionNumber()">
    clickme
</button><br>
addResult
<input type="number" [(ngModel)]="addResult" > -->

<!-- </div> -->

<!-- <button (click)="addition">addition</button> -->

<!-- 
 
 <button (click)="landing()">landing</button> -->
<router-outlet></router-outlet>