.main{
    background-color:#3acf9d;
    height: 700px;
    width: 90rem;
   
}
.title-section{
    margin: auto;
    text-align: center;
}
.city-section{
    font-size: 30px;
    font-family: 'Courier New';
    color: #f8e342;
}
.nav{
    background-color: #704352;
}